
h1
{
	text-align:center;
}

td
{
	width:100px;
	height:100px;
	
}
	
.vertical
{
  border-left:2px solid blue;
  border-right:2px solid blue;
}
.horizontal
{
	border-top:2px solid pink;
	border-bottom:2px solid pink;
}
table
{
	margin:auto;
}

	